<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ page.tags | join: ',' }}">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <link rel="stylesheet" href="/main.css">

  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
