<div class="sidebar pure-u-1 pure-u-med-1-4">
  <div class="header">
    <hgroup>
      <h1 class="brand-title"><a href="{{ site.full_url }}">{{ site.name }}</a></h1>
      <h2 class="brand-tagline">{{ site.tagline }}</h2>
    </hgroup>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="pure-button" href="http://alii.pro">About me</a>
        </li>
      </ul>
    </nav>
    <div class="social-icons">
      <a href="https://www.facebook.com/ali.ismayilov">
        <i class="icon-facebook"></i>
      </a>
      <a href="https://twitter.com/qaralama">
        <i class="icon-twitter"></i>
      </a>
      <a href="https://github.com/aliismayilov/">
        <i class="icon-github"></i>
      </a>
    </div>
  </div>
</div>
