.highlight {
  padding-left: 20px;
}

.social-icons {
  margin-top: 1em;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #ddd;
    }
  }
}

.post-category {
  line-height: 3em;
  cursor: pointer;
}
